<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      % if hasattr(self, 'title'):
        ${self.title()} &laquo; Steam Price Graph
      % else:
        Steam Price Graphh
      % endif
    </title>
    <link type="text/css" rel="stylesheet" media="screen" href="/stylesheets/baseline.compress.css" />
    <link type="text/css" rel="stylesheet" media="screen" href="/stylesheets/site.css" />
  </head>
  <body>
    <div id='page'>
      <header><h1>
        % if hasattr(self, 'title'):
          ${self.title()} // <small class="alt">Steam Price Graph</small>
        % else:
          Steam Price Graph
        % endif
      </h1></header>

      <div id="content-wrapper">
        ${self.body()}
      </div>

      <footer>${self.footer()}</footer>
    </div>
  </body>
</html>

<%def name="footer()">
  <small>
    Questions? Contact steam-price-graphs at hsiufan dot porkbuns dot net
  </small>
</%def>
